.about{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  margin: 10rem 6rem 10rem 6rem;
}

.about-sec{
  display: flex;
  gap: 4rem;
  align-items: center;
  justify-content: center;
}
.about-img{
  border-radius: 50%;
}
.about-content p{
  margin-bottom: 2rem;
  font-size: 1.2rem;
}
@media(max-width:768px){
  .about{
    gap: 50px;
    margin: 100px 70px;
    align-items: start;
    width: 400px;
  }
}