.home{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.home-img{
  border-radius: 50%;
  width: 200px;
  margin-top: 25px;
}
.home-h1{
  text-align: center;
  width: 70%;
  font-size: 60px;
  font-weight: 600;
}
.home-p{
  width: 50%;
  text-align: center;
  font-size: 24px;
  line-height: 30px;
}
.hero-action{
  display: flex;
  align-items: center;
  gap: 25px;
  font-size: 24px;
  font-weight: 500;
  flex-wrap: wrap;
}
.btn{
  background: linear-gradient(90deg, hsla(216, 96%, 56%, 1) 0%, hsla(178, 64%, 65%, 1) 100%);
  color: azure;
  padding: 15px 45px;
  border-radius: 50px;
  font-size: 1.2rem;
  transition: 1s;
  cursor: pointer;
  color: black;
  margin-right: 1rem;
}
.btn span{
  margin-left: 1rem;
  font-weight: bold;
}
.btn:hover{
  transform: scale(1.1);
}

.up{
  font-size: 2rem;
  position: fixed;
  bottom: 0;
  right: 5rem;
}
@media(max-width:768px){
  .home{
    gap: 50px;
    margin: 50px 10px;
    align-items: center;
    width: 636px;
  }
  .home-content{
    margin: 0;
    padding: 0;
  }
  .home-img{
    margin-top: 50px;
    width: 260px;
    margin-bottom: 50px;
  }
  .home-content h1{
    width: 90%;
    font-size: 50px;
  }
  .content-para {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .btn{
    padding: 15px 30px;;
  }
}