.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 3rem;
  font-weight: bold;
}
.navbar span{
  font-size: 2rem;
}
.nav-menu{
  display: flex;
  align-items: center;
  list-style: none;
  gap: 1.8rem;
  font-size: 1.2rem;
  cursor: pointer;
}
.nav-menu li:hover{
  background: linear-gradient(90deg, hsla(216, 96%, 56%, 1) 0%, hsla(178, 64%, 65%, 1) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.nav-connect{
  background: linear-gradient(90deg, hsla(216, 96%, 56%, 1) 0%, hsla(178, 64%, 65%, 1) 100%);
  padding: 1rem;
  border: none;
  border-radius: 2rem;
  font-size: 1.2rem;
  cursor: pointer;
  font-weight: bold;
  transition: 0.8s;
  color: black;
}
.nav-connect:hover{
  transform: scale(1.1);
}
a{
  text-decoration: none;
  color: azure;
}
.anchor-link{
  text-decoration: none;
  color: azure;
}