.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 3rem;
  font-weight: bold;
}
.navbar span{
  font-size: 2rem;
}
.nav-menu{
  display: flex;
  align-items: center;
  list-style: none;
  gap: 1.8rem;
  font-size: 1.2rem;
  cursor: pointer;
}
.nav-menu li:hover{
  background: linear-gradient(90deg, hsla(216, 96%, 56%, 1) 0%, hsla(178, 64%, 65%, 1) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.nav-connect{
  background: linear-gradient(90deg, hsla(216, 96%, 56%, 1) 0%, hsla(178, 64%, 65%, 1) 100%);
  padding: 1rem;
  border: none;
  border-radius: 2rem;
  font-size: 1.2rem;
  cursor: pointer;
  font-weight: bold;
  transition: 0.8s;
  color: black;
}
.nav-connect:hover{
  transform: scale(1.1);
}
a{
  text-decoration: none;
  color: azure;
}
.anchor-link{
  text-decoration: none;
  color: azure;
}
.menu-close{
  display: none;
}
.menu-open{
  display: none;
}


/* Responsive design */
@media(max-width:768px){
  .navbar{
    margin: 20px 50px;
  }
  .nav-connect{
    display: none;
  }
  .menu-open{
    display: block;
    position: fixed;
    right: 30px;
    top: 10px;
    font-size: 2rem;
  }
  .menu-close{
    display: block;
    position: relative;
    top: 30px;
    left: 290px;
    width: 30px;
    font-size: 2rem;
  }
  .nav-menu{
    position: fixed;
    flex-direction: column;
    align-items: start;
    top: 0;
    gap: 30px;
    background: linear-gradient(90deg, rgb(4, 46, 110) 0%, rgb(8, 107, 103) 100%);
    width: 350px;
    height: 100%;
    z-index:2;
    transition: right 0.5s;
    right: -350px;
  }
  .nav-menu li{
    font-size: 30px;
    padding-left: 100px;
    flex-direction: row;
    gap: 20px;
  }
}

