*{
  margin: 0;
  padding: 0;
}
body{
  height: 100vh;
  background-color: #050a30;
  color: azure;
  font-family: "PT Serif", serif;
}
h1{
    font-size: 4rem;
    background: linear-gradient(90deg, hsla(216, 96%, 56%, 1) 0%, hsla(178, 64%, 65%, 1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.shadow{
  box-shadow: 0px 2px 10px rgba(255, 255, 255, 0.5), /* Main shine effect */
  inset 0 0 15px rgba(255, 255, 255, 0.3); /* Inner shine */
}
.shadow:hover{
  box-shadow: 0px 4px 20px rgba(255, 255, 255, 0.5), /* Main shine effect */
  inset 0 0 15px rgba(255, 255, 255, 0.3); /* Inner shine */
}